**/node_modules
.git
.github
.gitignore
.direnv
.idea
.envrc

data
data-prod-dev
data-test
experiments

apps/client/dist
apps/client/.vite-devmaps
apps/server/build/out
apps/server/build/temp
**/dist
**/build
**/.vite
**/coverage

caddy
docker-compose.yaml
Dockerfile.*
.dockerignore

LICENSE
readme
*.md
