**/node_modules
.git
.github
.gitignore
.direnv
.idea
.envrc
.env
.env.*

data-test
experiments

apps/client/dist
apps/client/.vite-devmaps
apps/server/build/out
apps/server/build/temp
**/dist
**/.vite
**/coverage

caddy
docker-compose.yaml
compose.*.yaml
Dockerfile.*
config.ini
.dockerignore

LICENSE
readme
*.md
