node_modules
.git
.github
.gitignore
.direnv
.idea
.envrc

data
experiments

apps/client/dist
apps/server/build/out
apps/server/build/temp

caddy
docker-compose.yaml
Dockerfile.*
.dockerignore

LICENSE
*.md
