/node_modules
.direnv/
data/
data-test/
.vite-devmaps/
*.wiki/
.idea**
.note**
.env
.env.*
!.env.example
.key
.key.*


# local deploy customization, see wiki Home#custom-caddyfile
docker-compose.override.yaml
caddy/Caddyfile
